.List {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

@media (--below-xl) {
  .List {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (--below-md) {
  .List {
    display: none;
  }
}

.List li {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

@media (--below-lg) {
  .List li {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.List li a {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  position: relative;
  letter-spacing: 0.1em;
  display: block;
  white-space: nowrap;
}

@media (--below-lg) {
  .List li a {
    font-size: 14px;
  }
}

.List li a:hover {
  color: #c99;
}

.SecondList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 1rem;
  padding: 0.5rem;
}

.SecondList li a {
  font-size: 16px;
  color: inherit;
  position: relative;
  display: block;
}

.SecondList li a:hover {
  color: #c99;
}

.Logo {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
  width: 118px;
  height: 118px;
  flex-shrink: 0;
}

@media (--below-lg) {
  .Logo {
    top: -12px;
    width: 100px;
    height: 100px;
  }
}

@media (--below-md) {
  .Logo {
    top: -72px;
  }
}

.Logo img {
  display: block;
}

.isHeaderFixed .Logo {
  top: 0;
  width: 60px;
  height: 60px;
}

@media (--below-md) {
  .isHeaderFixed .Logo {
    top: 3px;
    width: 54px;
    height: 54px;
  }
}

.Dropdown {
  background: #e1bfbf;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

@media (--below-lg) {
  .Dropdown {
    right: -16px;
  }
}

.Dropdown::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) rotate(-45deg);
  margin-top: -1px;
  border-left: 1px solid var(--color-background);
  border-bottom: 1px solid var(--color-background);
  transition: border-color 300ms ease-out;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--color-background);
  transition: background 300ms ease-out;
  height: 80px;
  gap: 118px;
}

@media (--below-md) {
  .Dropdown {
    height: 0;
  }
}

.Wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px dashed var(--header-nav-border-color);
  border-bottom: 1px dashed var(--header-nav-border-color);
  padding-top: 1px;
  display: block;
  z-index: 1;
  transition: 300ms ease-out
}

.Wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px dashed var(--header-nav-border-color);
  border-bottom: 1px dashed var(--header-nav-border-color);
  padding-top: 1px;
  display: block;
  z-index: 1;
  transition: 300ms ease-out
}

.isHeaderFixed .Wrapper {
  height: 60px;
}
