.Wrapper {
  display: flex;
  margin-bottom: 48px;
}

.Wrapper:last-child {
  margin-bottom: 0;
}

.Thumbnail {
  flex-shrink: 0;
  width: 90px;
  height: 90px;
  margin-right: 16px;
}

.Info {
  flex-grow: 1;
}

.Date {
  font-size: 12px;
  letter-spacing: 1.2px;
  margin-top: 12px;
}

.Title {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  line-height: 1;
}

.Title a:hover {
  color: #c66;
}

.Category {
  color: #c66;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  margin-bottom: 12px;
}

.Category a:hover {
  color: #f00;
}
