@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
